RST a # Building 24
INC a
SHL a
INC a
SHL a
SHL a
SHL a
SWP g # store to n
RST b # Building 0
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
RST a # load n from g
ADD g
RSTORE c
RST b # Building 0
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t0
RST a # load t0 from d to B
ADD d
SWP b
RST a # load n from g
ADD g
SUB b
SWP d # store to t1
RST a # load n from g to B
ADD g
SWP b
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
RST a # load t1 from d
ADD d
RSTORE c
RST b # Building 0
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t2
RST b # Building 1
INC b
RST a # load t2 from d
ADD d
ADD b
SWP d # store to t3
RST a # load t3 from d
ADD d
SWP f # store to j
RST b # Building 0
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
RLOAD c
SWP e # store to t4
RST a # load n from g to B
ADD g
SWP b
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t5
RST a # load t4 from e
ADD e
SWP h # store to i
RST a # load i from h to B
ADD h
SWP b
RST a # load t5 from d
ADD d
SUB b
JPOS 189 #  Jump: L1
RST b # Building 1
INC b
RST a # load i from h
ADD h
ADD b
SWP e # store to t6
RST a # load i from h to B
ADD h
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RST a # load t6 from e
ADD e
RSTORE c
RST a # load i from h to B
ADD h
SWP b
RST a # load j from f
ADD f
SUB b
SWP e # store to t7
RST a # load i from h to B
ADD h
SWP b
RST c # Building 25
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SWP c
ADD b
SWP c
RST a # load t7 from e
ADD e
RSTORE c
RST b # Building 1
INC b
RST a # load i from h
ADD h
SUB b
SWP h # store to i
RST a # load i from h to B
ADD h
SWP b
RST a # Building 0
SUB b
JPOS 188 #  Jump: not_eq_0
RST b # Building 0
RST a # load i from h
ADD h
SUB b
JPOS 188 #  Jump: not_eq_0
JUMP 189 #  Jump: L1 Label: not_eq_0
JUMP 123 #  Jump: L0
RST a # load n from g to B
ADD g
SWP b
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t8
RST a # load t8 from d
ADD d
SWP f # store to j
RST a # load n from g to B
ADD g
SWP b
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t9
RST b # Building 0
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
RLOAD c
SWP f # store to t10
RST a # load t9 from d
ADD d
SWP h # store to i
RST a # load t10 from f to B
ADD f
SWP b
RST a # load i from h
ADD h
SUB b
JPOS 328 #  Jump: L3
RST a # load i from h to B
ADD h
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
STORE 75 # t11
RST a # load i from h to B
ADD h
SWP b
RST c # Building 25
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SWP c
ADD b
SWP c
RLOAD c
STORE 76 # t12
LOAD 75
SWP b
LOAD 76
SWP c
RST d
RST a
ADD c
SUB b
JZERO 288 #  Jump: _end_mul_if1_1
SWP b
SWP c
SWP b #  Label: _end_mul_if1_1
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 297 #  Jump: _end_mul_if2_2
SWP d
ADD b
SWP d #  Label: _end_mul_if2_2
SHR c
SHL b
RST a
ADD c
JPOS 288 #  Jump: _end_mul_if1_1
SWP d
STORE 77 # t13
RST a # load i from h to B
ADD h
SWP b
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
LOAD 77
RSTORE c
RST b # Building 1
INC b
RST a # load i from h
ADD h
ADD b
SWP h # store to i
JUMP 244 #  Jump: L2
RST a # Building 0
SWP h # store to i
RST a # load n from g to B
ADD g
SWP b
RST a # load i from h
ADD h
SUB b
JPOS 364 #  Jump: L5
RST a # load i from h to B
ADD h
SWP b
RST c # Building 50
INC c
SHL c
INC c
SHL c
SHL c
SHL c
INC c
SHL c
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t14
RST a # load t14 from d
ADD d
WRITE
RST b # Building 1
INC b
RST a # load i from h
ADD h
ADD b
SWP h # store to i
JUMP 330 #  Jump: L4
HALT