READ
SWP d # store to a
RST a # load a from d
ADD d
SWP e # store to b
RST a # load a from d to B
ADD d
SWP b
RST a # load b from e
ADD e
ADD b
SWP d # store to t0
RST a # load t0 from d
ADD d
SWP d # store to c
RST a # load b from e to B
ADD e
SWP b
RST a # load c from d
ADD d
ADD b
SWP e # store to t1
RST a # load t1 from e
ADD e
SWP e # store to d
RST a # load c from d to B
ADD d
SWP b
RST a # load d from e
ADD e
ADD b
SWP d # store to t2
RST a # load t2 from d
ADD d
SWP f # store to e
RST a # load d from e to B
ADD e
SWP b
RST a # load e from f
ADD f
ADD b
SWP d # store to t3
RST a # load t3 from d
ADD d
SWP e # store to f
RST a # load e from f to B
ADD f
SWP b
RST a # load f from e
ADD e
ADD b
SWP d # store to t4
RST a # load t4 from d
ADD d
SWP d # store to g
RST a # load f from e to B
ADD e
SWP b
RST a # load g from d
ADD d
ADD b
SWP e # store to t5
RST a # load t5 from e
ADD e
SWP e # store to h
RST a # load g from d to B
ADD d
SWP b
RST a # load h from e
ADD e
ADD b
SWP d # store to t6
RST a # load t6 from d
ADD d
SWP d # store to i
RST a # load h from e to B
ADD e
SWP b
RST a # load i from d
ADD d
ADD b
SWP e # store to t7
RST a # load t7 from e
ADD e
SWP e # store to j
RST a # load i from d to B
ADD d
SWP b
RST a # load j from e
ADD e
ADD b
SWP d # store to t8
RST a # load t8 from d
ADD d
SWP d # store to k
RST a # load j from e to B
ADD e
SWP b
RST a # load k from d
ADD d
ADD b
SWP e # store to t9
RST a # load t9 from e
ADD e
SWP e # store to l
RST a # load k from d to B
ADD d
SWP b
RST a # load l from e
ADD e
ADD b
SWP d # store to t10
RST a # load t10 from d
ADD d
SWP f # store to m
RST a # load l from e to B
ADD e
SWP b
RST a # load m from f
ADD f
ADD b
SWP d # store to t11
RST a # load t11 from d
ADD d
SWP d # store to n
RST a # load m from f to B
ADD f
SWP b
RST a # load n from d
ADD d
ADD b
SWP e # store to t12
RST a # load t12 from e
ADD e
SWP e # store to o
RST a # load n from d to B
ADD d
SWP b
RST a # load o from e
ADD e
ADD b
SWP d # store to t13
RST a # load t13 from d
ADD d
SWP f # store to p
RST a # load o from e to B
ADD e
SWP b
RST a # load p from f
ADD f
ADD b
SWP d # store to t14
RST a # load t14 from d
ADD d
SWP d # store to q
RST a # load p from f to B
ADD f
SWP b
RST a # load q from d
ADD d
ADD b
SWP e # store to t15
RST a # load t15 from e
ADD e
SWP e # store to r
RST a # load q from d to B
ADD d
SWP b
RST a # load r from e
ADD e
ADD b
SWP d # store to t16
RST a # load t16 from d
ADD d
SWP d # store to s
RST a # load r from e to B
ADD e
SWP b
RST a # load s from d
ADD d
ADD b
SWP e # store to t17
RST a # load t17 from e
ADD e
SWP e # store to t
RST a # load s from d to B
ADD d
SWP b
RST a # load t from e
ADD e
ADD b
SWP d # store to t18
RST a # load t18 from d
ADD d
SWP f # store to u
RST a # load t from e to B
ADD e
SWP b
RST a # load u from f
ADD f
ADD b
SWP d # store to t19
RST a # load t19 from d
ADD d
SWP d # store to v
RST a # load u from f to B
ADD f
SWP b
RST a # load v from d
ADD d
ADD b
SWP e # store to t20
RST a # load t20 from e
ADD e
SWP f # store to w
RST a # load v from d to B
ADD d
SWP b
RST a # load w from f
ADD f
ADD b
SWP d # store to t21
RST a # load t21 from d
ADD d
SWP e # store to x
RST a # load w from f to B
ADD f
SWP b
RST a # load x from e
ADD e
ADD b
SWP d # store to t22
RST a # load t22 from d
ADD d
SWP d # store to y
RST a # load x from e to B
ADD e
SWP b
RST a # load y from d
ADD d
ADD b
SWP d # store to t23
RST a # load t23 from d
ADD d
SWP d # store to z
RST a # load z from d
ADD d
WRITE
HALT