RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP e # store to a
RST a # Building 20
INC a
SHL a
SHL a
INC a
SHL a
SHL a
SWP d # store to b
RST a # load a from e
ADD e
WRITE
RST a # load b from d
ADD d
WRITE
HALT