RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP g # store to a
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to b
RST a # load a from g
ADD g
SWP b
RST a # load b from f
ADD f
SWP c
RST d
RST a
ADD c
SUB b
JZERO 28 #  Jump: _end_mul_if1_0
SWP b
SWP c
SWP b #  Label: _end_mul_if1_0
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 37 #  Jump: _end_mul_if2_1
SWP d
ADD b
SWP d #  Label: _end_mul_if2_1
SHR c
SHL b
RST a
ADD c
JPOS 28 #  Jump: _end_mul_if1_0
SWP d
SWP f # store to t0
RST a # load t0 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
HALT