RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
STORE 0 # x
RST a # Building 20
INC a
SHL a
SHL a
INC a
SHL a
SHL a
STORE 1 # y
RST a # Building 2
INC a
SHL a
STORE 3 # sum.out
RST a # Building 1
INC a
STORE 4 # sum.b
RST a # Building 0
STORE 5 # sum.a
CALL 28 # proc_sum Jump: proc_sum
LOAD 2
WRITE
HALT
STORE 6
LOAD 4
RLOAD a
SWP b
LOAD 5
RLOAD a
ADD b
SWP d # store to t0
RST a # load t0 from d
ADD d
SWP b
LOAD 3
SWP b
RSTORE b
LOAD 6
RTRN