RST a # Building 4611686018427387904
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
STORE 4611686018427387921 # maxint
RST b # Building 1
INC b
RST a # Building 4611686018427387904
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
ADD b
SWP d # store to t0
RST a # load t0 from d
ADD d
STORE 4611686018427387922 # e
RST a # Building 111
INC a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
INC a
SHL a
INC a
STORE 4611686018427387923 # c
RST a # Building 222
INC a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
INC a
SHL a
INC a
SHL a
STORE 4611686018427387924 # d
READ
STORE 4611686018427387925 # b
RST a # Building 4611686018427387923
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
INC a
STORE 4611686018427387926 # set.val
RST a # Building 4611686018427387921
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
SHL a
SHL a
INC a
STORE 4611686018427387927 # set.idx
RST a # Building 0
STORE 4611686018427387928 # set.arr
RST a # save d before call
ADD d
STORE 4611686018427387929
CALL 730 # proc_set Jump: proc_set
LOAD 4611686018427387929 # restore d after call
SWP d
RST a # Building 4611686018427387924
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
SHL a
STORE 4611686018427387926 # set.val
RST a # Building 4611686018427387922
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
STORE 4611686018427387927 # set.idx
RST a # Building 0
STORE 4611686018427387928 # set.arr
RST a # save d before call
ADD d
STORE 4611686018427387929
CALL 730 # proc_set Jump: proc_set
LOAD 4611686018427387929 # restore d after call
SWP d
LOAD 4611686018427387921
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t1
RST a # load t1 from d
ADD d
WRITE
LOAD 4611686018427387922
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t2
RST a # load t2 from d
ADD d
WRITE
RST a # Building 4611686018427387911
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
INC a
STORE 4611686018427387930 # far
LOAD 4611686018427387930
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RST a # Building 333
INC a
SHL a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
SHL a
INC a
RSTORE c
LOAD 4611686018427387930
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t3
RST a # load t3 from d
ADD d
WRITE
RST a # Building 4611686018427387925
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
SHL a
INC a
STORE 4611686018427387926 # set.val
RST a # Building 4611686018427387930
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
STORE 4611686018427387927 # set.idx
RST a # Building 0
STORE 4611686018427387928 # set.arr
RST a # save d before call
ADD d
STORE 4611686018427387929
CALL 730 # proc_set Jump: proc_set
LOAD 4611686018427387929 # restore d after call
SWP d
LOAD 4611686018427387930
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t4
RST a # load t4 from d
ADD d
WRITE
HALT
STORE 4611686018427387931
LOAD 4611686018427387927
RLOAD a
SWP b
RST c # Building 4611686018427387928
INC c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
INC c
SHL c
INC c
SHL c
SHL c
SHL c
RLOAD c
ADD b
SWP c
LOAD 4611686018427387926
RLOAD a
RSTORE c
LOAD 4611686018427387931
RTRN