RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
STORE 16 # a
RST a # Building 15
INC a
SHL a
INC a
SHL a
INC a
SHL a
INC a
STORE 17 # b
RST a # Building 333
INC a
SHL a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
SHL a
INC a
STORE 18 # c
RST a # Building 18
INC a
SHL a
SHL a
SHL a
INC a
SHL a
STORE 19 # set.val
RST a # Building 16
INC a
SHL a
SHL a
SHL a
SHL a
STORE 20 # set.idx
RST a # Building 0
STORE 21 # set.arr
RST a # save d before call
ADD d
STORE 22
CALL 117 # proc_set Jump: proc_set
LOAD 22 # restore d after call
SWP d
RST a # Building 444
INC a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
INC a
SHL a
INC a
SHL a
SHL a
STORE 18 # c
RST a # Building 18
INC a
SHL a
SHL a
SHL a
INC a
SHL a
STORE 19 # set.val
RST a # Building 17
INC a
SHL a
SHL a
SHL a
SHL a
INC a
STORE 20 # set.idx
RST a # Building 0
STORE 21 # set.arr
RST a # save d before call
ADD d
STORE 22
CALL 117 # proc_set Jump: proc_set
LOAD 22 # restore d after call
SWP d
LOAD 16
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t0
RST a # load t0 from d
ADD d
WRITE
LOAD 17
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t1
RST a # load t1 from d
ADD d
WRITE
HALT
STORE 23
LOAD 20
RLOAD a
SWP b
RST c # Building 21
INC c
SHL c
SHL c
INC c
SHL c
SHL c
INC c
RLOAD c
ADD b
SWP c
LOAD 19
RLOAD a
RSTORE c
LOAD 23
RTRN