RST a # Building 5
INC a
SHL a
SHL a
INC a
SWP g # store to a
RST a # Building 6
INC a
SHL a
INC a
SHL a
SWP d # store to b
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP e # store to c
RST a # Building 4
INC a
SHL a
SHL a
SWP f # store to d
RST a # load a from g to B
ADD g
SWP b
RST a # Building 5
INC a
SHL a
SHL a
INC a
SUB b
JPOS 44 #  Jump: not_eq_0
RST b # Building 5
INC b
SHL b
SHL b
INC b
RST a # load a from g
ADD g
SUB b
JPOS 44 #  Jump: not_eq_0
JUMP 45 #  Jump: L0 Label: not_eq_0
JUMP 48 #  Jump: L1
RST a # Building 1
INC a
WRITE
RST a # load b from d to B
ADD d
SWP b
RST a # Building 6
INC a
SHL a
INC a
SHL a
SUB b
JPOS 68 #  Jump: not_eq_1
RST b # Building 6
INC b
SHL b
INC b
SHL b
RST a # load b from d
ADD d
SUB b
JPOS 68 #  Jump: not_eq_1
JUMP 69 #  Jump: L2 Label: not_eq_1
JUMP 73 #  Jump: L3
RST a # Building 2
INC a
SHL a
WRITE
RST a # load a from g to B
ADD g
SWP b
RST a # load d from f
ADD f
SUB b
JPOS 88 #  Jump: L4
RST a # load d from f to B
ADD f
SWP b
RST a # load a from g
ADD g
SUB b
JPOS 88 #  Jump: L4
JUMP 93 #  Jump: L5
RST a # Building 3
INC a
SHL a
INC a
WRITE
RST a # load b from d to B
ADD d
SWP b
RST a # load a from g
ADD g
SUB b
JPOS 108 #  Jump: L6
RST a # load a from g to B
ADD g
SWP b
RST a # load b from d
ADD d
SUB b
JPOS 108 #  Jump: L6
JUMP 113 #  Jump: L7
RST a # Building 4
INC a
SHL a
SHL a
WRITE
RST a # load a from g to B
ADD g
SWP b
RST a # load c from e
ADD e
SUB b
JPOS 121 #  Jump: L8
JUMP 127 #  Jump: L9
RST a # Building 5
INC a
SHL a
SHL a
INC a
WRITE
RST a # load d from f to B
ADD f
SWP b
RST a # load a from g
ADD g
SUB b
JPOS 135 #  Jump: L10
JUMP 141 #  Jump: L11
RST a # Building 6
INC a
SHL a
INC a
SHL a
WRITE
RST a # load a from g to B
ADD g
SWP b
RST a # load c from e
ADD e
SUB b
JPOS 149 #  Jump: L12
JUMP 156 #  Jump: L13
RST a # Building 7
INC a
SHL a
INC a
SHL a
INC a
WRITE
RST a # load d from f to B
ADD f
SWP b
RST a # load b from d
ADD d
SUB b
JPOS 164 #  Jump: L14
JUMP 170 #  Jump: L15
RST a # Building 8
INC a
SHL a
SHL a
SHL a
WRITE
RST a # load a from g to B
ADD g
SWP b
RST a # Building 5
INC a
SHL a
SHL a
INC a
INC a
SUB b
JPOS 182 #  Jump: L16
JUMP 189 #  Jump: L17
RST a # Building 9
INC a
SHL a
SHL a
SHL a
INC a
WRITE
RST a # load d from f to B
ADD f
SWP b
RST a # load a from g
ADD g
INC a
SUB b
JPOS 198 #  Jump: L18
JUMP 205 #  Jump: L19
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
WRITE
RST b # Building 5
INC b
SHL b
SHL b
INC b
RST a # load a from g
ADD g
INC a
SUB b
JPOS 216 #  Jump: L20
JUMP 224 #  Jump: L21
RST a # Building 11
INC a
SHL a
SHL a
INC a
SHL a
INC a
WRITE
RST a # load a from g to B
ADD g
SWP b
RST a # load c from e
ADD e
INC a
SUB b
JPOS 233 #  Jump: L22
JUMP 240 #  Jump: L23
RST a # Building 12
INC a
SHL a
INC a
SHL a
SHL a
WRITE
RST a # load a from g to B
ADD g
SWP b
RST a # Building 6
INC a
SHL a
INC a
SHL a
SUB b
JPOS 260 #  Jump: not_eq_2
RST b # Building 6
INC b
SHL b
INC b
SHL b
RST a # load a from g
ADD g
SUB b
JPOS 260 #  Jump: not_eq_2
JUMP 261 #  Jump: L24 Label: not_eq_2
JUMP 264 #  Jump: L25
RST a # Building 0
WRITE
JUMP 272 #  Jump: L26
RST a # Building 13
INC a
SHL a
INC a
SHL a
SHL a
INC a
WRITE
RST a # load b from d to B
ADD d
SWP b
RST a # Building 5
INC a
SHL a
SHL a
INC a
SUB b
JPOS 292 #  Jump: not_eq_3
RST b # Building 5
INC b
SHL b
SHL b
INC b
RST a # load b from d
ADD d
SUB b
JPOS 292 #  Jump: not_eq_3
JUMP 293 #  Jump: L27 Label: not_eq_3
JUMP 296 #  Jump: L28
RST a # Building 0
WRITE
JUMP 304 #  Jump: L29
RST a # Building 14
INC a
SHL a
INC a
SHL a
INC a
SHL a
WRITE
RST a # load a from g to B
ADD g
SWP b
RST a # load d from f
ADD f
SUB b
JPOS 319 #  Jump: not_eq_4
RST a # load d from f to B
ADD f
SWP b
RST a # load a from g
ADD g
SUB b
JPOS 319 #  Jump: not_eq_4
JUMP 320 #  Jump: L30 Label: not_eq_4
JUMP 323 #  Jump: L31
RST a # Building 0
WRITE
JUMP 332 #  Jump: L32
RST a # Building 15
INC a
SHL a
INC a
SHL a
INC a
SHL a
INC a
WRITE
RST a # load b from d to B
ADD d
SWP b
RST a # load a from g
ADD g
SUB b
JPOS 347 #  Jump: not_eq_5
RST a # load a from g to B
ADD g
SWP b
RST a # load b from d
ADD d
SUB b
JPOS 347 #  Jump: not_eq_5
JUMP 348 #  Jump: L33 Label: not_eq_5
JUMP 351 #  Jump: L34
RST a # Building 0
WRITE
JUMP 358 #  Jump: L35
RST a # Building 16
INC a
SHL a
SHL a
SHL a
SHL a
WRITE
RST a # load c from e to B
ADD e
SWP b
RST a # load a from g
ADD g
SUB b
JPOS 366 #  Jump: L36
JUMP 369 #  Jump: L37
RST a # Building 0
WRITE
JUMP 377 #  Jump: L38
RST a # Building 17
INC a
SHL a
SHL a
SHL a
SHL a
INC a
WRITE
RST a # load a from g to B
ADD g
SWP b
RST a # load d from f
ADD f
SUB b
JPOS 385 #  Jump: L39
JUMP 388 #  Jump: L40
RST a # Building 0
WRITE
JUMP 396 #  Jump: L41
RST a # Building 18
INC a
SHL a
SHL a
SHL a
INC a
SHL a
WRITE
RST a # load c from e to B
ADD e
SWP b
RST a # load a from g
ADD g
SUB b
JPOS 404 #  Jump: L42
JUMP 407 #  Jump: L43
RST a # Building 0
WRITE
JUMP 416 #  Jump: L44
RST a # Building 19
INC a
SHL a
SHL a
SHL a
INC a
SHL a
INC a
WRITE
RST a # load b from d to B
ADD d
SWP b
RST a # load d from f
ADD f
SUB b
JPOS 424 #  Jump: L45
JUMP 427 #  Jump: L46
RST a # Building 0
WRITE
JUMP 435 #  Jump: L47
RST a # Building 20
INC a
SHL a
SHL a
INC a
SHL a
SHL a
WRITE
RST b # Building 5
INC b
SHL b
SHL b
INC b
RST a # load a from g
ADD g
SUB b
JPOS 445 #  Jump: L48
JUMP 448 #  Jump: L49
RST a # Building 0
WRITE
JUMP 457 #  Jump: L50
RST a # Building 21
INC a
SHL a
SHL a
INC a
SHL a
SHL a
INC a
WRITE
RST a # load a from g to B
ADD g
SWP b
RST a # load d from f
ADD f
SUB b
JPOS 465 #  Jump: L51
JUMP 468 #  Jump: L52
RST a # Building 0
WRITE
JUMP 477 #  Jump: L53
RST a # Building 22
INC a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
WRITE
RST a # load a from g to B
ADD g
SWP b
RST a # Building 5
INC a
SHL a
SHL a
INC a
SUB b
JPOS 488 #  Jump: L54
JUMP 491 #  Jump: L55
RST a # Building 0
WRITE
JUMP 501 #  Jump: L56
RST a # Building 23
INC a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
INC a
WRITE
RST a # load c from e to B
ADD e
SWP b
RST a # load a from g
ADD g
SUB b
JPOS 509 #  Jump: L57
JUMP 512 #  Jump: L58
RST a # Building 0
WRITE
JUMP 520 #  Jump: L59
RST a # Building 24
INC a
SHL a
INC a
SHL a
SHL a
SHL a
WRITE
HALT