RST a # Building 1
INC a
SWP d # store to x
RST a # Building 2
INC a
SHL a
SWP e # store to y
RST a # Building 3
INC a
SHL a
INC a
SWP f # store to z
RST a # load x from d to B
ADD d
SWP b
RST a # Building 1
INC a
SUB b
JPOS 26 #  Jump: not_eq_0
RST b # Building 1
INC b
RST a # load x from d
ADD d
SUB b
JPOS 26 #  Jump: not_eq_0
JUMP 27 #  Jump: L0 Label: not_eq_0
JUMP 96 #  Jump: L1
RST a # Building 1
INC a
WRITE
RST a # load y from e to B
ADD e
SWP b
RST a # Building 2
INC a
SHL a
SUB b
JPOS 46 #  Jump: not_eq_1
RST b # Building 2
INC b
SHL b
RST a # load y from e
ADD e
SUB b
JPOS 46 #  Jump: not_eq_1
JUMP 47 #  Jump: L3 Label: not_eq_1
JUMP 86 #  Jump: L4
RST a # Building 2
INC a
SHL a
WRITE
RST a # load z from f to B
ADD f
SWP b
RST a # Building 3
INC a
SHL a
INC a
SUB b
JPOS 69 #  Jump: not_eq_2
RST b # Building 3
INC b
SHL b
INC b
RST a # load z from f
ADD f
SUB b
JPOS 69 #  Jump: not_eq_2
JUMP 70 #  Jump: L6 Label: not_eq_2
JUMP 76 #  Jump: L7
RST a # Building 3
INC a
SHL a
INC a
WRITE
JUMP 85 #  Jump: L8
RST a # Building 33
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
WRITE
JUMP 95 #  Jump: L5
RST a # Building 22
INC a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
WRITE
JUMP 104 #  Jump: L2
RST a # Building 11
INC a
SHL a
SHL a
INC a
SHL a
INC a
WRITE
RST a # load x from d to B
ADD d
SWP b
RST a # Building 1
INC a
SUB b
JPOS 118 #  Jump: L9
RST b # Building 1
INC b
RST a # load x from d
ADD d
SUB b
JPOS 118 #  Jump: L9
JUMP 129 #  Jump: L10
RST a # Building 44
INC a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
SHL a
WRITE
JUMP 204 #  Jump: L11
RST a # Building 4
INC a
SHL a
SHL a
WRITE
RST a # load y from e to B
ADD e
SWP b
RST a # Building 2
INC a
SHL a
SUB b
JPOS 150 #  Jump: L12
RST b # Building 2
INC b
SHL b
RST a # load y from e
ADD e
SUB b
JPOS 150 #  Jump: L12
JUMP 163 #  Jump: L13
RST a # Building 55
INC a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
INC a
WRITE
JUMP 204 #  Jump: L14
RST a # Building 5
INC a
SHL a
SHL a
INC a
WRITE
RST a # load z from f to B
ADD f
SWP b
RST a # Building 3
INC a
SHL a
INC a
SUB b
JPOS 187 #  Jump: L15
RST b # Building 3
INC b
SHL b
INC b
RST a # load z from f
ADD f
SUB b
JPOS 187 #  Jump: L15
JUMP 198 #  Jump: L16
RST a # Building 66
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
WRITE
JUMP 204 #  Jump: L17
RST a # Building 6
INC a
SHL a
INC a
SHL a
WRITE
HALT