RST a # Building 1
INC a
SWP d # store to i
RST a # load i from d to B
ADD d
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RST a # Building 5
INC a
SHL a
SHL a
INC a
RSTORE c
RST a # load i from d to B
ADD d
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t0
RST a # load t0 from d
ADD d
WRITE
RST b # Building 1
INC b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t1
RST a # load t1 from d
ADD d
WRITE
RST a # Building 2
INC a
SHL a
SWP d # store to i
RST a # load i from d to B
ADD d
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RST a # Building 7
INC a
SHL a
INC a
SHL a
INC a
RSTORE c
RST a # load i from d to B
ADD d
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t2
RST a # load t2 from d
ADD d
WRITE
RST b # Building 2
INC b
SHL b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t3
RST a # load t3 from d
ADD d
WRITE
RST a # Building 3
INC a
SHL a
INC a
SWP d # store to i
RST b # Building 1
INC b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP e # store to t4
RST b # Building 2
INC b
SHL b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP f # store to t5
RST a # load t5 from f to B
ADD f
SWP b
RST a # load t4 from e
ADD e
ADD b
SWP e # store to t6
RST a # load i from d to B
ADD d
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RST a # load t6 from e
ADD e
RSTORE c
RST a # load i from d to B
ADD d
SWP b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t7
RST a # load t7 from d
ADD d
WRITE
RST b # Building 3
INC b
SHL b
INC b
RST c # Building 0
SWP c
ADD b
SWP c
RLOAD c
SWP d # store to t8
RST a # load t8 from d
ADD d
WRITE
HALT