RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # Building 15
INC a
SHL a
INC a
SHL a
INC a
SHL a
INC a
SWP g # store to b
RST a # load a from f
ADD f
SWP b
RST a # load b from g
ADD g
SWP c
RST a
ADD c
JPOS 28 #  Jump: _not_zero_1
RST d
RST e
JUMP 65 #  Jump: _end_div_0 Label: _not_zero_1
RST a
ADD c
SUB b
JZERO 37 #  Jump: _not_greater_2
RST a
RST e
SWP b
SWP d
JUMP 65 #  Jump: _end_div_0 Label: _not_greater_2
RST d
INC d
RST e #  Label: _begin_div_loop_1_3
RST a
ADD c
SUB b
JPOS 47 #  Jump: _end_div_if1_4
SHL c
SHL d
JUMP 40 #  Jump: _begin_div_loop_1_3 Label: _end_div_if1_4
SHR c
SHR d #  Label: _begin_div_loop_2_5
SHL e
RST a
ADD c
SUB b
JPOS 58 #  Jump: _end_div_if2_6
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_6
SHR c
SHR d
RST a
ADD d
JPOS 49 #  Jump: _begin_div_loop_2_5
SWP b
SWP d #  Label: _end_div_0
SWP e
SWP f # store to t0
RST a # load t0 from f
ADD f
SWP f # store to c
RST a # load c from f
ADD f
WRITE
RST b # Building 100
INC b
SHL b
INC b
SHL b
SHL b
SHL b
INC b
SHL b
SHL b
RST a # load c from f
ADD f
SWP c
RST a
ADD c
JPOS 92 #  Jump: _not_zero_8
RST d
RST e
JUMP 129 #  Jump: _end_div_7 Label: _not_zero_8
RST a
ADD c
SUB b
JZERO 101 #  Jump: _not_greater_9
RST a
RST e
SWP b
SWP d
JUMP 129 #  Jump: _end_div_7 Label: _not_greater_9
RST d
INC d
RST e #  Label: _begin_div_loop_1_10
RST a
ADD c
SUB b
JPOS 111 #  Jump: _end_div_if1_11
SHL c
SHL d
JUMP 104 #  Jump: _begin_div_loop_1_10 Label: _end_div_if1_11
SHR c
SHR d #  Label: _begin_div_loop_2_12
SHL e
RST a
ADD c
SUB b
JPOS 122 #  Jump: _end_div_if2_13
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_13
SHR c
SHR d
RST a
ADD d
JPOS 113 #  Jump: _begin_div_loop_2_12
SWP b
SWP d #  Label: _end_div_7
SWP e
SWP f # store to t1
RST a # load t1 from f
ADD f
SWP d # store to d
RST a # load d from d
ADD d
WRITE
HALT