RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP d # store to i
RST a # Building 2
INC a
SHL a
SWP d # store to i
RST b # Building 3
INC b
SHL b
INC b
RST a # load i from d
ADD d
SUB b
JPOS 29 #  Jump: L1
RST a # load i from d
ADD d
WRITE
RST b # Building 1
INC b
RST a # load i from d
ADD d
ADD b
SWP d # store to i
JUMP 11 #  Jump: L0
RST a # load i from d
ADD d
WRITE
HALT