RST a # Building 3
INC a
SHL a
INC a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 2
INC c
SHL c
RST d
RST a
ADD c
SUB b
JZERO 19 #  Jump: _end_mul_if1_0
SWP b
SWP c
SWP b #  Label: _end_mul_if1_0
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 28 #  Jump: _end_mul_if2_1
SWP d
ADD b
SWP d #  Label: _end_mul_if2_1
SHR c
SHL b
RST a
ADD c
JPOS 19 #  Jump: _end_mul_if1_0
SWP d
SWP g # store to t0
RST a # load t0 from g
ADD g
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # load a from f
ADD f
SWP b
RST c # Building 32
INC c
SHL c
SHL c
SHL c
SHL c
SHL c
RST d
RST a
ADD c
SUB b
JZERO 59 #  Jump: _end_mul_if1_2
SWP b
SWP c
SWP b #  Label: _end_mul_if1_2
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 68 #  Jump: _end_mul_if2_3
SWP d
ADD b
SWP d #  Label: _end_mul_if2_3
SHR c
SHL b
RST a
ADD c
JPOS 59 #  Jump: _end_mul_if1_2
SWP d
SWP f # store to t1
RST a # load t1 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 1
INC c
RST d
RST a
ADD c
SUB b
JZERO 101 #  Jump: _end_mul_if1_4
SWP b
SWP c
SWP b #  Label: _end_mul_if1_4
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 110 #  Jump: _end_mul_if2_5
SWP d
ADD b
SWP d #  Label: _end_mul_if2_5
SHR c
SHL b
RST a
ADD c
JPOS 101 #  Jump: _end_mul_if1_4
SWP d
SWP f # store to t2
RST a # load t2 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 3
INC c
SHL c
INC c
RST d
RST a
ADD c
SUB b
JZERO 145 #  Jump: _end_mul_if1_6
SWP b
SWP c
SWP b #  Label: _end_mul_if1_6
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 154 #  Jump: _end_mul_if2_7
SWP d
ADD b
SWP d #  Label: _end_mul_if2_7
SHR c
SHL b
RST a
ADD c
JPOS 145 #  Jump: _end_mul_if1_6
SWP d
SWP f # store to t3
RST a # load t3 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 4
INC c
SHL c
SHL c
RST d
RST a
ADD c
SUB b
JZERO 189 #  Jump: _end_mul_if1_8
SWP b
SWP c
SWP b #  Label: _end_mul_if1_8
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 198 #  Jump: _end_mul_if2_9
SWP d
ADD b
SWP d #  Label: _end_mul_if2_9
SHR c
SHL b
RST a
ADD c
JPOS 189 #  Jump: _end_mul_if1_8
SWP d
SWP f # store to t4
RST a # load t4 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 5
INC c
SHL c
SHL c
INC c
RST d
RST a
ADD c
SUB b
JZERO 234 #  Jump: _end_mul_if1_10
SWP b
SWP c
SWP b #  Label: _end_mul_if1_10
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 243 #  Jump: _end_mul_if2_11
SWP d
ADD b
SWP d #  Label: _end_mul_if2_11
SHR c
SHL b
RST a
ADD c
JPOS 234 #  Jump: _end_mul_if1_10
SWP d
SWP f # store to t5
RST a # load t5 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 6
INC c
SHL c
INC c
SHL c
RST d
RST a
ADD c
SUB b
JZERO 279 #  Jump: _end_mul_if1_12
SWP b
SWP c
SWP b #  Label: _end_mul_if1_12
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 288 #  Jump: _end_mul_if2_13
SWP d
ADD b
SWP d #  Label: _end_mul_if2_13
SHR c
SHL b
RST a
ADD c
JPOS 279 #  Jump: _end_mul_if1_12
SWP d
SWP f # store to t6
RST a # load t6 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 7
INC c
SHL c
INC c
SHL c
INC c
RST d
RST a
ADD c
SUB b
JZERO 325 #  Jump: _end_mul_if1_14
SWP b
SWP c
SWP b #  Label: _end_mul_if1_14
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 334 #  Jump: _end_mul_if2_15
SWP d
ADD b
SWP d #  Label: _end_mul_if2_15
SHR c
SHL b
RST a
ADD c
JPOS 325 #  Jump: _end_mul_if1_14
SWP d
SWP f # store to t7
RST a # load t7 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 8
INC c
SHL c
SHL c
SHL c
RST d
RST a
ADD c
SUB b
JZERO 370 #  Jump: _end_mul_if1_16
SWP b
SWP c
SWP b #  Label: _end_mul_if1_16
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 379 #  Jump: _end_mul_if2_17
SWP d
ADD b
SWP d #  Label: _end_mul_if2_17
SHR c
SHL b
RST a
ADD c
JPOS 370 #  Jump: _end_mul_if1_16
SWP d
SWP f # store to t8
RST a # load t8 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 9
INC c
SHL c
SHL c
SHL c
INC c
RST d
RST a
ADD c
SUB b
JZERO 416 #  Jump: _end_mul_if1_18
SWP b
SWP c
SWP b #  Label: _end_mul_if1_18
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 425 #  Jump: _end_mul_if2_19
SWP d
ADD b
SWP d #  Label: _end_mul_if2_19
SHR c
SHL b
RST a
ADD c
JPOS 416 #  Jump: _end_mul_if1_18
SWP d
SWP f # store to t9
RST a # load t9 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 10
INC c
SHL c
SHL c
INC c
SHL c
RST d
RST a
ADD c
SUB b
JZERO 462 #  Jump: _end_mul_if1_20
SWP b
SWP c
SWP b #  Label: _end_mul_if1_20
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 471 #  Jump: _end_mul_if2_21
SWP d
ADD b
SWP d #  Label: _end_mul_if2_21
SHR c
SHL b
RST a
ADD c
JPOS 462 #  Jump: _end_mul_if1_20
SWP d
SWP f # store to t10
RST a # load t10 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 27
INC c
SHL c
INC c
SHL c
SHL c
INC c
SHL c
INC c
RST d
RST a
ADD c
SUB b
JZERO 511 #  Jump: _end_mul_if1_22
SWP b
SWP c
SWP b #  Label: _end_mul_if1_22
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 520 #  Jump: _end_mul_if2_23
SWP d
ADD b
SWP d #  Label: _end_mul_if2_23
SHR c
SHL b
RST a
ADD c
JPOS 511 #  Jump: _end_mul_if1_22
SWP d
SWP f # store to t11
RST a # load t11 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 81
INC c
SHL c
SHL c
INC c
SHL c
SHL c
SHL c
SHL c
INC c
RST d
RST a
ADD c
SUB b
JZERO 561 #  Jump: _end_mul_if1_24
SWP b
SWP c
SWP b #  Label: _end_mul_if1_24
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 570 #  Jump: _end_mul_if2_25
SWP d
ADD b
SWP d #  Label: _end_mul_if2_25
SHR c
SHL b
RST a
ADD c
JPOS 561 #  Jump: _end_mul_if1_24
SWP d
SWP f # store to t12
RST a # load t12 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 1
INC a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 0
RST a
ADD c
JPOS 596 #  Jump: _not_zero_27
RST d
RST e
JUMP 633 #  Jump: _end_div_26 Label: _not_zero_27
RST a
ADD c
SUB b
JZERO 605 #  Jump: _not_greater_28
RST a
RST e
SWP b
SWP d
JUMP 633 #  Jump: _end_div_26 Label: _not_greater_28
RST d
INC d
RST e #  Label: _begin_div_loop_1_29
RST a
ADD c
SUB b
JPOS 615 #  Jump: _end_div_if1_30
SHL c
SHL d
JUMP 608 #  Jump: _begin_div_loop_1_29 Label: _end_div_if1_30
SHR c
SHR d #  Label: _begin_div_loop_2_31
SHL e
RST a
ADD c
SUB b
JPOS 626 #  Jump: _end_div_if2_32
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_32
SHR c
SHR d
RST a
ADD d
JPOS 617 #  Jump: _begin_div_loop_2_31
SWP b
SWP d #  Label: _end_div_26
SWP e
SWP f # store to t13
RST a # load t13 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 1234
INC a
SHL a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 1
INC c
RST a
ADD c
JPOS 669 #  Jump: _not_zero_34
RST d
RST e
JUMP 706 #  Jump: _end_div_33 Label: _not_zero_34
RST a
ADD c
SUB b
JZERO 678 #  Jump: _not_greater_35
RST a
RST e
SWP b
SWP d
JUMP 706 #  Jump: _end_div_33 Label: _not_greater_35
RST d
INC d
RST e #  Label: _begin_div_loop_1_36
RST a
ADD c
SUB b
JPOS 688 #  Jump: _end_div_if1_37
SHL c
SHL d
JUMP 681 #  Jump: _begin_div_loop_1_36 Label: _end_div_if1_37
SHR c
SHR d #  Label: _begin_div_loop_2_38
SHL e
RST a
ADD c
SUB b
JPOS 699 #  Jump: _end_div_if2_39
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_39
SHR c
SHR d
RST a
ADD d
JPOS 690 #  Jump: _begin_div_loop_2_38
SWP b
SWP d #  Label: _end_div_33
SWP e
SWP f # store to t14
RST a # load t14 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 30
INC a
SHL a
INC a
SHL a
INC a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 2
INC c
SHL c
RST a
ADD c
JPOS 736 #  Jump: _not_zero_41
RST d
RST e
JUMP 773 #  Jump: _end_div_40 Label: _not_zero_41
RST a
ADD c
SUB b
JZERO 745 #  Jump: _not_greater_42
RST a
RST e
SWP b
SWP d
JUMP 773 #  Jump: _end_div_40 Label: _not_greater_42
RST d
INC d
RST e #  Label: _begin_div_loop_1_43
RST a
ADD c
SUB b
JPOS 755 #  Jump: _end_div_if1_44
SHL c
SHL d
JUMP 748 #  Jump: _begin_div_loop_1_43 Label: _end_div_if1_44
SHR c
SHR d #  Label: _begin_div_loop_2_45
SHL e
RST a
ADD c
SUB b
JPOS 766 #  Jump: _end_div_if2_46
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_46
SHR c
SHR d
RST a
ADD d
JPOS 757 #  Jump: _begin_div_loop_2_45
SWP b
SWP d #  Label: _end_div_40
SWP e
SWP f # store to t15
RST a # load t15 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 34
INC a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 17
INC c
SHL c
SHL c
SHL c
SHL c
INC c
RST a
ADD c
JPOS 806 #  Jump: _not_zero_48
RST d
RST e
JUMP 843 #  Jump: _end_div_47 Label: _not_zero_48
RST a
ADD c
SUB b
JZERO 815 #  Jump: _not_greater_49
RST a
RST e
SWP b
SWP d
JUMP 843 #  Jump: _end_div_47 Label: _not_greater_49
RST d
INC d
RST e #  Label: _begin_div_loop_1_50
RST a
ADD c
SUB b
JPOS 825 #  Jump: _end_div_if1_51
SHL c
SHL d
JUMP 818 #  Jump: _begin_div_loop_1_50 Label: _end_div_if1_51
SHR c
SHR d #  Label: _begin_div_loop_2_52
SHL e
RST a
ADD c
SUB b
JPOS 836 #  Jump: _end_div_if2_53
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_53
SHR c
SHR d
RST a
ADD d
JPOS 827 #  Jump: _begin_div_loop_2_52
SWP b
SWP d #  Label: _end_div_47
SWP e
SWP f # store to t16
RST a # load t16 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 34
INC a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 2
INC c
SHL c
RST a
ADD c
JPOS 872 #  Jump: _not_zero_55
RST d
RST e
JUMP 909 #  Jump: _end_div_54 Label: _not_zero_55
RST a
ADD c
SUB b
JZERO 881 #  Jump: _not_greater_56
RST a
RST e
SWP b
SWP d
JUMP 909 #  Jump: _end_div_54 Label: _not_greater_56
RST d
INC d
RST e #  Label: _begin_div_loop_1_57
RST a
ADD c
SUB b
JPOS 891 #  Jump: _end_div_if1_58
SHL c
SHL d
JUMP 884 #  Jump: _begin_div_loop_1_57 Label: _end_div_if1_58
SHR c
SHR d #  Label: _begin_div_loop_2_59
SHL e
RST a
ADD c
SUB b
JPOS 902 #  Jump: _end_div_if2_60
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_60
SHR c
SHR d
RST a
ADD d
JPOS 893 #  Jump: _begin_div_loop_2_59
SWP b
SWP d #  Label: _end_div_54
SWP d
SWP f # store to t17
RST a # load t17 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 35
INC a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
INC a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 2
INC c
SHL c
RST a
ADD c
JPOS 939 #  Jump: _not_zero_62
RST d
RST e
JUMP 976 #  Jump: _end_div_61 Label: _not_zero_62
RST a
ADD c
SUB b
JZERO 948 #  Jump: _not_greater_63
RST a
RST e
SWP b
SWP d
JUMP 976 #  Jump: _end_div_61 Label: _not_greater_63
RST d
INC d
RST e #  Label: _begin_div_loop_1_64
RST a
ADD c
SUB b
JPOS 958 #  Jump: _end_div_if1_65
SHL c
SHL d
JUMP 951 #  Jump: _begin_div_loop_1_64 Label: _end_div_if1_65
SHR c
SHR d #  Label: _begin_div_loop_2_66
SHL e
RST a
ADD c
SUB b
JPOS 969 #  Jump: _end_div_if2_67
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_67
SHR c
SHR d
RST a
ADD d
JPOS 960 #  Jump: _begin_div_loop_2_66
SWP b
SWP d #  Label: _end_div_61
SWP d
SWP f # store to t18
RST a # load t18 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 66
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 4
INC c
SHL c
SHL c
RST a
ADD c
JPOS 1007 #  Jump: _not_zero_69
RST d
RST e
JUMP 1044 #  Jump: _end_div_68 Label: _not_zero_69
RST a
ADD c
SUB b
JZERO 1016 #  Jump: _not_greater_70
RST a
RST e
SWP b
SWP d
JUMP 1044 #  Jump: _end_div_68 Label: _not_greater_70
RST d
INC d
RST e #  Label: _begin_div_loop_1_71
RST a
ADD c
SUB b
JPOS 1026 #  Jump: _end_div_if1_72
SHL c
SHL d
JUMP 1019 #  Jump: _begin_div_loop_1_71 Label: _end_div_if1_72
SHR c
SHR d #  Label: _begin_div_loop_2_73
SHL e
RST a
ADD c
SUB b
JPOS 1037 #  Jump: _end_div_if2_74
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_74
SHR c
SHR d
RST a
ADD d
JPOS 1028 #  Jump: _begin_div_loop_2_73
SWP b
SWP d #  Label: _end_div_68
SWP d
SWP f # store to t19
RST a # load t19 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
RST a # Building 270
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
INC a
SHL a
SWP f # store to a
RST a # load a from f
ADD f
SWP b
RST c # Building 64
INC c
SHL c
SHL c
SHL c
SHL c
SHL c
SHL c
RST a
ADD c
JPOS 1083 #  Jump: _not_zero_76
RST d
RST e
JUMP 1120 #  Jump: _end_div_75 Label: _not_zero_76
RST a
ADD c
SUB b
JZERO 1092 #  Jump: _not_greater_77
RST a
RST e
SWP b
SWP d
JUMP 1120 #  Jump: _end_div_75 Label: _not_greater_77
RST d
INC d
RST e #  Label: _begin_div_loop_1_78
RST a
ADD c
SUB b
JPOS 1102 #  Jump: _end_div_if1_79
SHL c
SHL d
JUMP 1095 #  Jump: _begin_div_loop_1_78 Label: _end_div_if1_79
SHR c
SHR d #  Label: _begin_div_loop_2_80
SHL e
RST a
ADD c
SUB b
JPOS 1113 #  Jump: _end_div_if2_81
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_81
SHR c
SHR d
RST a
ADD d
JPOS 1104 #  Jump: _begin_div_loop_2_80
SWP b
SWP d #  Label: _end_div_75
SWP d
SWP f # store to t20
RST a # load t20 from f
ADD f
SWP d # store to c
RST a # load c from d
ADD d
WRITE
HALT