RST a # Building 5
INC a
SHL a
SHL a
INC a
SWP d # store to i
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP d # store to i
RST a # load i from d to B
ADD d
SWP b
RST a # Building 0
SUB b
JPOS 41 #  Jump: L1
RST a # load i from d
ADD d
WRITE
RST b # Building 1
INC b
RST a # load i from d
ADD d
SUB b
SWP d # store to i
RST a # load i from d to B
ADD d
SWP b
RST a # Building 0
SUB b
JPOS 40 #  Jump: not_eq_0
RST b # Building 0
RST a # load i from d
ADD d
SUB b
JPOS 40 #  Jump: not_eq_0
JUMP 41 #  Jump: L1 Label: not_eq_0
JUMP 13 #  Jump: L0
RST a # load i from d
ADD d
WRITE
HALT