READ
SWP g # store to n
RST a # load n from g
ADD g
SWP b
RST c # Building 2
INC c
SHL c
RST a
ADD c
JPOS 14 #  Jump: _not_zero_1
RST d
RST e
JUMP 51 #  Jump: _end_div_0 Label: _not_zero_1
RST a
ADD c
SUB b
JZERO 23 #  Jump: _not_greater_2
RST a
RST e
SWP b
SWP d
JUMP 51 #  Jump: _end_div_0 Label: _not_greater_2
RST d
INC d
RST e #  Label: _begin_div_loop_1_3
RST a
ADD c
SUB b
JPOS 33 #  Jump: _end_div_if1_4
SHL c
SHL d
JUMP 26 #  Jump: _begin_div_loop_1_3 Label: _end_div_if1_4
SHR c
SHR d #  Label: _begin_div_loop_2_5
SHL e
RST a
ADD c
SUB b
JPOS 44 #  Jump: _end_div_if2_6
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_6
SHR c
SHR d
RST a
ADD d
JPOS 35 #  Jump: _begin_div_loop_2_5
SWP b
SWP d #  Label: _end_div_0
SWP e
SWP f # store to t0
RST a # load t0 from f
ADD f
SWP f # store to p
RST b # Building 2
INC b
SHL b
RST a # load p from f
ADD f
SWP c
RST d
RST a
ADD c
SUB b
JZERO 70 #  Jump: _end_mul_if1_7
SWP b
SWP c
SWP b #  Label: _end_mul_if1_7
RST a # begin mul loop d << 1
ADD c
SHR c
SHL c
SUB c
JZERO 79 #  Jump: _end_mul_if2_8
SWP d
ADD b
SWP d #  Label: _end_mul_if2_8
SHR c
SHL b
RST a
ADD c
JPOS 70 #  Jump: _end_mul_if1_7
SWP d
SWP f # store to t1
RST a # load t1 from f
ADD f
SWP f # store to p
RST a # load p from f to B
ADD f
SWP b
RST a # load n from g
ADD g
SUB b
JPOS 97 #  Jump: L2
JUMP 101 #  Jump: L3
RST a # Building 1
INC a
WRITE
JUMP 103 #  Jump: L4
RST a # Building 0
WRITE
RST a # load n from g
ADD g
SWP b
RST c # Building 2
INC c
SHL c
RST a
ADD c
JPOS 115 #  Jump: _not_zero_10
RST d
RST e
JUMP 152 #  Jump: _end_div_9 Label: _not_zero_10
RST a
ADD c
SUB b
JZERO 124 #  Jump: _not_greater_11
RST a
RST e
SWP b
SWP d
JUMP 152 #  Jump: _end_div_9 Label: _not_greater_11
RST d
INC d
RST e #  Label: _begin_div_loop_1_12
RST a
ADD c
SUB b
JPOS 134 #  Jump: _end_div_if1_13
SHL c
SHL d
JUMP 127 #  Jump: _begin_div_loop_1_12 Label: _end_div_if1_13
SHR c
SHR d #  Label: _begin_div_loop_2_14
SHL e
RST a
ADD c
SUB b
JPOS 145 #  Jump: _end_div_if2_15
SWP b
SUB c
SWP b
INC e #  Label: _end_div_if2_15
SHR c
SHR d
RST a
ADD d
JPOS 136 #  Jump: _begin_div_loop_2_14
SWP b
SWP d #  Label: _end_div_9
SWP e
SWP f # store to t2
RST a # load t2 from f
ADD f
SWP g # store to n
RST a # load n from g to B
ADD g
SWP b
RST a # Building 0
SUB b
JPOS 169 #  Jump: not_eq_16
RST b # Building 0
RST a # load n from g
ADD g
SUB b
JPOS 169 #  Jump: not_eq_16
JUMP 170 #  Jump: L1 Label: not_eq_16
JUMP 2 #  Jump: L0
HALT