RST a # Building 5
INC a
SHL a
SHL a
INC a
SWP e # store to a
RST a # Building 10
INC a
SHL a
SHL a
INC a
SHL a
SWP d # store to b
RST a # load a from e
ADD e
WRITE
RST a # load b from d
ADD d
WRITE
RST a # load a from e to B
ADD e
SWP b
RST a # load b from d
ADD d
SUB b
JPOS 27 #  Jump: L0
JUMP 42 #  Jump: L1
RST a # Building 111
INC a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
INC a
SHL a
INC a
SHL a
INC a
WRITE
JUMP 44 #  Jump: L2
RST a # Building 0
WRITE
HALT